// Базовые настройки
$titleFont: 'FoglihtenNo06', Arial, sans-serif; // Шрифт заголовков
$mainFont: 'Montserrat', Arial, sans-serif; // Основной шрифт
$blockWidth: 1920px; // Ширина блока

// Заголовок
$titleLineHeight: 110%; // Высота строки заголовка

// Подзаголовок
$subTitleLineHeight: 110%; // Высота строки подзаголовка

// Описание
$descriptionLineHeight: 130%; // Высота строки описания

// Карточка
$cardTitleFontSize: 34px; // Размер шрифта заголовка карточки
$cardDescriptionFontSize: 24px; // Размер шрифта подзаголовка карточки